## Final Project Research
###### Name: Haizhou Li (Undergraduate)
###### Version: 2020-11-17

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
import statsmodels.api as sm
from string import ascii_letters
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv('FIFA19_data.csv', index_col=False)
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,2202,...,96,33,28,26,6,11,15,14,8,€226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,2228,...,95,28,31,23,7,11,15,14,11,€127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,2143,...,94,27,24,33,9,9,15,15,11,€228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,1471,...,68,15,21,13,90,85,87,88,94,€138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,2281,...,88,68,58,51,15,13,5,10,13,€196.4M

In [4]:
df.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Wage', 'Special', 'Preferred Foot',
       'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate',
       'Body Type', 'Position', 'Jersey Number', 'Joined', 'Loaned From',
       'Contract Valid Until', 'Height', 'Weight', 'LS', 'ST', 'RS', 'LW',
       'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM',
       'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause'],
      dtype='object')

In [5]:
gb = df.groupby('Position')
gb.size()

Position
CAM     573
CB      813
CDM     531
CF       37
CM      543
GK      921
LAM      21
LB      690
LCB     487
LCM     293
LDM     184
LF       13
LM      641
LS      154
LW      211
LWB      40
RAM      20
RB      701
RCB     495
RCM     276
RDM     197
RF       15
RM      631
RS      146
RW      217
RWB      37
ST     1107
dtype: int64

In [8]:
df = df.fillna(0)

In [10]:
groups = gb.describe()
groups = list(groups.index)

In [12]:
groups[0]

'CAM'

In [15]:
cam = gb.get_group(groups[0]).Name
cb = gb.get_group(groups[1]).Name
cdm = gb.get_group(groups[2]).Name
cf = gb.get_group(groups[3]).Name
cm = gb.get_group(groups[4]).Name
gk = gb.get_group(groups[5]).Name
lam = gb.get_group(groups[6]).Name
lb = gb.get_group(groups[7]).Name
lcb = gb.get_group(groups[8]).Name
lcm = gb.get_group(groups[9]).Name
ldm = gb.get_group(groups[10]).Name
lf = gb.get_group(groups[11]).Name
lm = gb.get_group(groups[12]).Name
ls = gb.get_group(groups[13]).Name
lw = gb.get_group(groups[14]).Name
lwb = gb.get_group(groups[15]).Name
ram = gb.get_group(groups[16]).Name
rb = gb.get_group(groups[17]).Name
rcb = gb.get_group(groups[18]).Name
rcm = gb.get_group(groups[19]).Name
rdm = gb.get_group(groups[20]).Name
rf = gb.get_group(groups[21]).Name
rm = gb.get_group(groups[22]).Name
rs = gb.get_group(groups[23]).Name
rw = gb.get_group(groups[24]).Name
rwb = gb.get_group(groups[25]).Name
st = gb.get_group(groups[26]).Name

In [17]:
rwb

450             M. Ginter
465          P. Kadeřábek
517            S. Coleman
652          D. Caligiuri
766          Pablo Maffeo
976               K. Lala
1025           R. Aguilar
1508             Barragán
1663              E. Durm
1670             M. Risse
1974           M. Doherty
2161              A. Beck
2398              A. Nyom
2506       F. Hadergjonaj
2600            J. Schmid
2869              Y. Atal
3434            S. Medina
3659             A. Bamba
4288          D. Martínez
5361          Johannesson
5705                 Cifu
5782           C. Rizzuto
6076          Pedro Porro
6096          D. Sundgren
6283         L. Wahlqvist
6672         J. Andersson
7029           K. Freeman
7801             D. Iorfa
8209         R. Lundström
8243       E. Salomonsson
8311           G. Baldock
9204           N. Madonna
9254           E. Larsson
9848        A. Munksgaard
9851          K. Bartolec
9888    M. Døhr Thychosen
9923         E. Bonifacio
Name: Name, dtype: object